.audio-container {
  // border: 1px solid;
  font-family: 'Godo';
  height: 10vh;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #eeeeee;
  position: relative;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 2px 2px rgb(66, 66, 66);
  .audio-command {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 13%;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    align-items: center;
    
    p {
      margin: 0;
    }
  }
  .audio-bar {
    // border: 1px solid;
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    width: 75%;
    height: 50%;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px rgb(66, 66, 66);
    .player{
      width: 100%;
    }
  }
  .audio-bookmark {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
  }
}