.findbook{
    font-family: 'KoPub Batang';
    text-align: center;
    h1{
        font-size: 3vw;
        margin: 3%;
    }
    .searchBox{
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            text-align: center;
            font-family: 'Godo', sans-serif;
            font-size: 1vw;
            width: 60%;
            height: 4vh;
            border: 3px solid grey;
            border-radius: 4vh;
        }
        input:focus-visible{
            border-radius: 4vh;
            outline: none;
            border: 3px solid;
        }
        img{
            display: inline-block;
            cursor: pointer;
        }
    }
    ul{
        list-style: none;
        text-align: center;
        padding: 0;
    }
    li{
        display: inline-block;
        cursor: pointer;
        font-size: 1.2vw;
        color: gray;
        margin: 2%;
    }
    
    .search-book-container {
        font-family: 'Godo', sans-serif;
        font-weight: 600;
        position: relative;
        height: 50vh;
        .search-book-inner {
          position: absolute;
          height: 100%;
          width: 80%;
          left: 10%;
          .book-header {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
      
          }
          .book-container {
            position: absolute;
            height: 80%;
            width: 100%;
            // display: flex;
            // justify-content: center;
          }
        }
        .botton-direction {
          top: 40%;
          width: 100%;
          position: absolute;
          display: flex;
          justify-content: space-between;
          .prevBtn {
            cursor: pointer;
          }
          .nextBtn {
            cursor: pointer;
          }
          img {
            width: 3vw;
            height: 10vh;
          }
        }
      }
      .page-container{
        width: 10vw;
        margin: 0 auto;
      }
}